<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <title>Baja de compañía</title>
</head>
<body>
    <h1>
        Seleccione la compañía a dar de baja:
    </h1>
    <form method="post" action="bajaCompania">
        <select name="companiaBaja" size="1" >
            <th:block th:each="compania : ${companias}">
                <option th:value="${compania.codigo}" th:text="'Codigo: ' + ${compania.codigo} + '  Actividad: ' + ${compania.actividad}"></option>
            </th:block>    
        </select>
        <br>
        <br>
        <input type="submit" style="width:60px; height:40px" value ="Enviar">
    </form>
    <p><a href="/menuPrincipal">Volver al menú principal</a></p>
</body>
</html>