<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <title>Baja de cuerpo </title>
</head>
<body>
    <h1>
        Seleccione el cuerpo a dar de baja:
    </h1>
    <form method="post" action="bajaCuerpo">
        <select name="cuerpoBaja" size="1" >
            <th:block th:each="cuerpo : ${cuerpos}">
                <option th:value="${cuerpo.codigo}" th:text="'Codigo: ' + ${cuerpo.codigo} + '  Denominacion: ' + ${cuerpo.denominacion}"></option>
            </th:block>    
        </select>
        <br>
        <br>
        <input type="submit" style="width:60px; height:40px" value ="Enviar">
    </form>
    <p><a href="/menuPrincipal">Volver al menú principal</a></p>
</body>
</html>