<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">

        <title>Ingresar o modificar soldado</title>
    </head>
    <body>
        <h1>
            Ingrese los datos del soldado:
        </h1>
        <h2>
            Si existe un soldado con el código ingresado, se modificará.
            <br>
            Si no existe un soldado con el código ingresado, se agregará.

        </h2>
        <form method="post" action="ingresarSoldado">
            <table style="margin: 0 auto;">
                <tr>
                    <th>Codigo:</th>
                    <th><input type="number" name="codigo"> </th>
                </tr>
                <tr>
                    <th>Contraseña:</th>
                    <th> <input type="password" name="password"></th>
                </tr>
                <tr>
                    <th>Nombre:</th>
                    <th><input type="text" name="nombre"></th>
                </tr>
                <tr>
                    <th>Apellido:</th>
                    <th><input type="text" name="apellido"></th>
                </tr>
                <tr>
                    <th>Graduación:</th>
                    <th>
                        <select name="graduacion" size="1">
                            <option value="Voluntario de primera"> Voluntario de primera</option>
                            <option value="Voluntario de segunda"> Voluntario de segunda </option>
                            <option value="Voluntario de segunda en comision"> Voluntario de segunda en comision</option>
                        </select>
                    </th>
                </tr>

                <tr> 

                    <th>Compania: </th>
                    <th>
                        <select name="codCompania" size="1" >
                            <th:block th:each="compania : ${companias}">
                                <option th:value="${compania.codigo}" th:text="'Codigo: ' + ${compania.codigo} + '       Actividad: ' + ${compania.actividad}"></option>
                            </th:block>    
                        </select>
                    </th>
                </tr>
                <tr>

                    <th>Cuerpo: </th>
                    <th>
                        <select name="codCuerpo" size="1" >
                            <th:block th:each="cuerpo : ${cuerpos}">
                                <option th:value="${cuerpo.codigo}" th:text="'Codigo: ' + ${cuerpo.codigo} + '       Denominacion: ' + ${cuerpo.denominacion}"></option>
                            </th:block>    
                        </select>

                    </th>
                </tr>
                <tr>
                    <th> Cuartel: </th>
                    <th>
                        <select name="codCuartel" size="1" >
                            <th:block th:each="cuartel : ${cuarteles}">
                                <option th:value="${cuartel.codigo}" th:text="'Codigo: ' + ${cuartel.codigo} + '       Nombre: ' + ${cuartel.nombre}"></option>                                
                            </th:block>    
                        </select>

                    </th>
                </tr>

            </table>

            <br>
            <input type="submit" style="width:110px; height:40px" value ="Enviar">  
            </p>
        </form> 
<p><a href="/menuPrincipal">Volver al menú principal</a></p>
    </body>
</html>