<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Menu principal</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>
        <h1>
            ¡Bienvenido! Su ingreso fue exitoso
        </h1>

        <h2>
            <p th:text="'Ud. ingreso como: ' + ${militar.graduacion} + ' ' +${militar.nombre}+  ' ' + ${militar.apellido}" />   

        </h2>
        <div th:if= "${militar.tipo == 'Oficial'}">
            <form method="post" action="opcionesMilitar">
                <p>
                    Sus opciones son:
                    <select name="opcion" size="1" >

                        <option value="mostrar_militares">Mostrar militares</option>
                        <option value="mostrar_companias">Mostrar compañías</option>
                        <option value="mostrar_cuerpos">Mostrar cuerpos</option>
                        <option value="mostrar_cuarteles">Mostrar cuarteles</option>
                        <option value="mostrar_servicios">Mostrar servicios</option>

                        <option value="alta_militar"> Dar de alta o modificar un militar </option>
                        <option value="alta_compania"> Dar de alta o modificar una compañía </option>
                        <option value="alta_cuerpo"> Dar de alta o modificar un cuerpo </option>
                        <option value="alta_cuartel"> Dar de alta o modificar un cuartel </option>
                        <option value="alta_servicio"> Dar de alta o modificar un servicio </option>

                        <option value="baja_militar"> Dar de baja un militar </option>
                        <option value="baja_compania"> Dar de baja una compañía </option>
                        <option value="baja_cuerpo"> Dar de baja un cuerpo </option>
                        <option value="baja_cuartel"> Dar de baja un cuartel </option>
                        <option value="baja_servicio"> Dar de baja un servicio </option>

                        <option value="asignar_servicio"> Asignar servicio a un soldado </option>
                        <option value="desasignar_servicio"> Dar de baja el servicio a un soldado </option>
                        <option value="logout"> Logout </option>
                    </select>

                    <input type="submit" style="width:60px; height:40px" value ="Enviar">
                </p>
            </form>
        </div>
        <div th:if= "${militar.tipo == 'Suboficial'}">
            <form method="post" action="opcionesMilitar">
                <p>
                    Sus opciones son:
                    <select name="opcion" size="1" style="width:320px; height:40px">

                        <option value="mostrar_militares">Mostrar militares</option>
                        <option value="mostrar_companias">Mostrar compañías</option>
                        <option value="mostrar_cuerpos">Mostrar cuerpos</option>
                        <option value="mostrar_cuarteles">Mostrar cuarteles</option>
                        <option value="mostrar_servicios">Mostrar servicios</option>
                        <option value="alta_soldado"> Dar de alta o modificar un soldado </option>
                        <option value="alta_servicio"> Dar de alta o modificar un servicio </option>

                        <option value="baja_soldado"> Dar de baja un soldado </option>
                        <option value="baja_servicio"> Dar de baja un servicio </option>
                        <option value="asignar_servicio"> Asignar servicio a un soldado </option>
                        <option value="desasignar_servicio"> Dar de baja el servicio a un soldado </option>
                        <option value="logout"> Logout </option>
                    </select>
                    <br>

                    <input type="submit" style="width:60px; height:40px" value ="Enviar">
                </p>
            </form>
        </div>
        <div th:if= "${militar.tipo == 'Soldado'}">
            <form method="post" action="opcionesMilitar">
                <p>
                    Sus opciones son:
                    <select name="opcion" size="1" style="width:220px; height:40px">

                        <option value="mostrar_militares">Mostrar militares</option>
                        <option value="mostrar_companias">Mostrar companías</option>
                        <option value="mostrar_cuerpos">Mostrar cuerpos</option>
                        <option value="mostrar_cuarteles">Mostrar cuarteles</option>
                        <option value="mostrar_servicios">Mostrar servicios</option>
                        <option value="logout"> Logout </option>
                    </select>


                    <input type="submit" style="width:60px; height:40px" value ="Enviar">
                </p>
            </form>
        </div>
    </body>   
</html>