<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Mostrar cuerpos</title>
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="container lightgreen">
            <table class="table table-borderless">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Denominacion</th>
                    </tr>
                </thead>
                <th:block th:each="cuerpo : ${cuerpos}">
                    <tr>
                        <td th:text="${cuerpo.codigo}">...</td>
                        <td th:text="${cuerpo.denominacion}">...</td>

                    </tr>

                </th:block>
            </table>
        </div>
        <p><a href="/menuPrincipal">Volver al menú principal</a></p>
</body>
</html>