<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Mostrar militares</title>
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="container lightgreen">
            <table class="table table-borderless">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Graduacion</th>
                    </tr>
                </thead>
                <th:block th:each="militar : ${militares}">
                    <tr>
                        <td th:text="${militar.codigo}">...</td>
                        <td th:text="${militar.tipo}">...</td>
                        <td th:text="${militar.nombre}">...</td>
                        <td th:text="${militar.apellido}">...</td>
                        <td th:text="${militar.graduacion}">...</td>

                    </tr>


                    <div th:if= "${militar.tipo == 'Soldado'}">
                        <tr>
                            <th></th>



                        <th:block th:each="compania : ${companias}">

                            <div th:if= "${militar.codCompania == compania.codigo}">
                                <td th:text="'Compania: ' + ${compania.actividad}">...</td>
                            </div>
                        </th:block>
                        <td></td>
                        <th:block th:each="cuerpo : ${cuerpos}">

                            <div th:if= "${militar.codCuerpo == cuerpo.codigo}">
                                <td th:text="'Cuerpo: ' + ${cuerpo.denominacion}">...</td>
                            </div>
                        </th:block>

                        <th:block th:each="cuartel : ${cuarteles}">

                            <div th:if= "${militar.codCuartel == cuartel.codigo}">
                                <td th:text="'Cuartel: ' + ${cuartel.nombre}">...</td>
                            </div>
                        </th:block>

                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th></th><th></th>
                            <td>Servicios Asignados:</td>
                            <th> </th>
                        </tr>
                        <th:block th:each="servicioRealizado : ${serviciosRealizados}">

                            <div th:if= "${militar.codigo == servicioRealizado.codSoldado}">

                                <tr>
                                    <th></th>
                                <th:block th:each="servicio : ${servicios}">
                                    <div th:if= "${servicio.codigo == servicioRealizado.codServicio}">
                                        <td th:text="'Descripcion: ' + ${servicio.descripcion}">...</td>

                                        <th>  </th>
                                        <th></th>   

                                    </div>
                                </th:block>
                                <td th:text="'Fecha: ' + ${servicioRealizado.fecha}">...</td>
                                <th></th>

                                </tr>
                                <tr></tr>
                                <tr></tr>
                            </div>

                        </th:block>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                    </div>
                    <tr></tr>
                </th:block>

            </table>
        </div>
        <p><a href="/menuPrincipal">Volver al menú principal</a></p>
    </body>
</html>